
<%= form_for partner do |f| %>
	<%= f.fields_for :tasks do |task| %>
		<div class="notDoneTask">
			<div class="deleter">
				<span class='xButton'>&nbsp&nbsp
				<%= link_to "X", task_path(task.object.id), method: :patch %>&nbsp&nbsp&nbsp&nbsp
				</span>
			</div>
			<span class="taskText">
				<%= task.object.name %>
			</span>
		</div>
		<hr>
		<% end %>
		<% end %>
		</hr>