<div class="all">
	<div class="container">
		<div class="left-col">
			<div class="menu">
				<h2 class="h2Title">Follow Thru</h2>
				<hr />

				<p>Some other link</p>
				<hr />
				<p><%= link_to "Sign up", new_user_registration_path, :class => 'linker'  %>  &nbsp | &nbsp  <%= link_to "Login", new_user_session_path, :class => 'linker'  %></p>
			</div>
		</div>
		<div class="main-col">
			<div class="jumbotron">
				<h1>Follow Thru</h1>
				<h3>The todo list you won't ignore</h3>
			</div>
			<div class="midSection">
				<h2>How it works:</h2>
				<div class="oneTwoThree">
					<div class="midBox">
						<span class="circleText">1</span>
						<div class="boxText">
							<p>Add Your Tasks</p>
						</div>
					</div>
					<div class="midBox">
						<span class="circleText">2</span>
						<div class="boxText">
							<p>Anonymously match with another user</p>
						</div>
					</div>
					<div class="midBox">
						<span class="circleText">3</span>
						<div class="boxText">
							<p>Hold each other accountable for finishing what you say you're going to do.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="getStarted">
				<h2>Get Started Today!</h2>
				<p><%= link_to "Sign up", new_user_registration_path, :class => 'boxLink'  %>    or    <%= link_to "Login", new_user_session_path, :class => 'boxLink'  %></p>
			</div>		
   		</div>
	</div>
</div>