// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: white;
  stroke: #ccc;
  color: black;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}